/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=The+Nautigal:wght@700&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	scroll-behavior: smooth;
	font-family: 'Indie Flower', cursive;
}

/* body */
body {
	background-color: whitesmoke;
}

/* main */
main {
	height: 100vh;
}

/* unorderd list */
ul li {
	list-style: none;
}

/* article-center, paragraph-welcome */
.container {
	position: relative;
}

.article-center {
	position: absolute;
	top: 23%;
	text-align: center;
	width: 100%;
	font-size: 50px;
}

/* section */  
#about, #skills, #resources, #contact {
	height: 100vh;
}

/* about info */
.about_info {
	font-size: 3rem;
}

/* image nav-logo */
#nav-logo {
	height: 25px;
}

/* footer */
footer {
	overflow: hidden;
	background-color: grey;
	padding: 1.5rem;
	text-align: center;
	
}
/* @media query */
@media screen and (max-width: 600px) {
	
	.about_info {
		font-size: 2rem;
	}
	.article-center{
		position: absolute;
		top: 23%;
		text-align: center;
		width: 90%;
		font-size: 50px;
	}
	
}